.col-1{width: 8.33% ;}
.col-2{width: 16.66% ;}
.col-3{width: 25% ;}
.col-4{width: 33.33% ;}
.col-5{width: 41.66% ;}
.col-6{width: 50% ;}
.col-7{width: 58.33% ;}
.col-8{width: 66.66% ;}
.col-9{width: 75% ;}
.col-10{width: 83.33% ;}
.col-11{width: 91.66% ;}
.col-12{width: 100% ;}


/* Navbar design start here  */


.navbar{
    background-color: #3f9399;

}


.navbar-logo{
    text-align: left;
}
.nav-logo img{
    height: 100px;
    width: 100px;
}

.nav-heading h1{
    text-align: right;
    color: yellow;
}


.navbar-menu{
    flex-direction: row;
    justify-content: flex-end;

}

.navbar-menu a{
    padding: 10px 10px;
    margin: 20px 10px ;
    background-color: transparent;
    border-radius: 7px;
    
}

.navbar-menu a:hover{
    background-color: rgb(113, 199, 221);
    color: ;
}

/* Navbar design ends here  */


/* Profile design start here  */

.top-exchange-icon{
    width: 120px;
    right: 100px;
    top: 20px;
    transition: transform 2s;
}

.top-exchange-icon:hover{
    width: 140px;
    transform: rotate(360deg);
}


.profile-desc p{
    color: gray;
    text-align: center;
    margin-bottom: 10px;
    width: 50%;
    margin: 0px auto;
}


.bottom-exchange-icon{
    width: 120px;
    left: 140px;
    bottom: 20px;
    transition: transform 2s;
}

.bottom-exchange-icon:hover{
    width: 140px;
}



/* Profile design ends here  */




/* About me design start here */



.aboutme-image{
    margin-top: 100px;
    
    

}



.aboutme-image img{
    height: 270px;
    width: 250px;
    
    
}


.aboutme-desc p{
    text-align: left;
}


/* About me design ends here */