*{
    box-sizing: border-box;
    font-family: 'Fira Sans', Sans-serif;
}
body{
    margin: 0;

}
h1{
    font-size: 2.5rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}
a{
    color: white;
    font-size: 1.2rem ;
    text-decoration: none;
}

p{
    font-size: 1.2rem;
    text-align: justify;
}

.dotted-hr{
    border: 5px dotted white ;
    border-bottom: none;
    margin: 20px auto ;
    width: 70px;
}


[class*="col-"]{
    float: left;
    padding: 10px;
}

/* For mobile  */
[class*="col-"]{
    width: 100%;
}

/* Navbar design start from here  */
.navbar{
    background-color: #40868b;
    padding: 1% 5%;
    text-align: center;


}

.nav-logo img{
    height: 160px;
    width: 150px;
}

.navbar h1{
    color:white;
    margin:0;
    padding-top: 10px;
}

.navbar-menu{
    display:flex;
    flex-direction: column;
    text-transform: uppercase;
}

.navbar-menu a{
    background-color: #0c6168;
    border-radius: 10px;
    margin: 7px 0px ;
    padding: 10px;

}

.navbar-menu a:hover{
    background-color: gray;

}

.navbar::after{
    content: '';
    display: table;
    clear: both;

}

/* Navbar design ends here  */



/* Profile design start from here  */

.profile{
    padding: 130px 10px ;
    position: relative;
    text-align: center;
}
.top-exchange-icon{
    position: absolute;
    right: 60px;
    top: 20px;
    transition: transform 2s;
}

.top-exchange-icon:hover{
    transform: rotate(360deg);
}

.profile-desc h1{
    font-family: 'satisfy',cursive;
    font-size: 3rem;
}

.profile-desc p{
    color: gray;
    text-align: center;
    width:90% ;
    margin: 0px auto 20px auto ;
}


.bottom-exchange-icon{
    position: absolute;
    bottom: 10px;
    left: 60px;
    transition: transform 2s;
}

.bottom-exchange-icon:hover{
    transform: rotate(360deg);
}

.profile::after{
    display:table ;
    content: '';
    clear: both;
    
}

/* Profile design ends here  */


/* About me design start here  */

.about-me{
    background-color: #39a4a6;
    padding: 1% 7%;
    color: white;
    text-align: center;
    font-family: 'Montserrat',sans-serif ;
}

.about-me a{
    font-size: 1.2rem;
}

.about-me p{
    text-align: center;


}


.aboutme-image img{
    border: 5px solid white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.cv-button{
    background-color: #052d2f;
    color: white;
    border: none;
    border-radius: 12px ;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}


.about-me::after{
    clear: both;
    display: table;
    content: '';

}

/* About me design ends here  */